.container{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.rotating-box {
    height: 20rem;
    width: 28rem;
    perspective: 170rem;
}

.rotating-box__rb { 
    transform-style: preserve-3d;
    position: relative;
}

.rotating-box__rb img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 23rem;
    height: 15rem;
    border-radius: 5px;
    cursor: pointer;
}

.rotating-box__front {
    transform: translateZ(14rem);
}

.rotating-box__back {
    transform: rotateY(180deg) translateZ(14rem);
}

.rotating-box__left {
    transform: rotateY(-90deg) translateX(-14rem);
    transform-origin: left;
}

.rotating-box__right {
    transform: rotateY(90deg) translateX(14rem);
    transform-origin: right;
}

.img-closer {
    position: absolute;
    top: 0;
    right: 0;
    height: 1.3rem;
    width: 1.3rem;
    border: .2rem rgb(94, 88, 88) solid;
    border-radius: 50%;
    color: rgb(94, 88, 88);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}